body {
  margin: 0px;
  background-color: rgba(71, 61, 139, 0.1);
}

.hidden {
  visibility: hidden;
}

/***** HEADER COMPONENT STYLES *****/
#header {
  background-color: black;
  height: 10%;
  overflow: visible;
}

.head {
  margin: auto;
  display: inline-block;
  color: white;
  border: 2px solid black;
  width: 900px;
  height: auto;
  border-radius: 10px;
  padding-left: 20px;
}

.title {
  display: inline-block;
  padding: 2px 0px;
}

.header-search{
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.searchbar {
  font-family: Arial;
  font-weight: 500;
  font-size: 25px;
  height: 30px;
  margin: auto;
  margin-top: 0px;
  width: 700px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 0px 5px 0px 10px;
}

.searchbar:focus {
  outline: none;
}

.button {
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 20%;
  margin: 0px 10px;
  float: right;
}

.button:hover {
  cursor: pointer;
  background: rgba(120, 120, 255, 0.9);
}

.button:active {
  margin-left: 12px;
  border: 0px solid white;
  box-shadow: 0px 0px white;
}

.title {
  width: 140px;
}

.logo {
  padding: 10px;
  height: 70%;
  width: 70%;
  background-color: white;
  border-radius: 5px;
}

.category {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  padding: 6px;
  margin: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.politics {
  margin-left: 0;
}

.home {
  border: 1px solid white;
}

.category:hover {
  cursor:pointer;
  color: rgb(120, 120, 255);
}

.active {
  color: rgb(120, 120, 255);
}

.category:active, .category:focus {
  outline:0;
}

/***** FEED COMPONENT STYLES *****/

li {
  list-style-type: none;
}

#feed {
  width: 800px;
  margin: auto;
  margin-left: 30%;
  display: inline-block;
}

.article_list {
  margin-top: 20px;
}

.blurb {
  margin: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-family: Helvetica;
  background-color: white;
}

.blurb_header, .description {
  padding: 5px 10px;
}

.blurb_header {
  border-bottom: 1px solid darkslateblue;
  max-height: 55px;
  overflow: hidden;
  background-color: rgba(173, 216, 230, 0.6);
}

.blurb_title {
  text-decoration: none;
  color: black;
  padding-left: 5px;
  margin: 5px 0px;
  padding-bottom: 10px;
  display: inline-block;
  width: 74%;
  height: auto;
  max-height: 40px;
  overflow: hidden;
  font-weight: 600;
  font-size: 18px;
}

.blurb_title:hover {
  color: darkblue;
  cursor: pointer;
}


.blurb_publication_info {
  width: auto;
  max-width: 24%;
  overflow: hidden;
  float: right;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  height: auto;
  max-height: 40px;
  margin-top: 5px;
}

.blurb_author, .blurb_date {
  max-height: 20px;
  overflow: hidden;
  float: right;
}

.blurb_date {
  color: rgba(0, 0, 0, 0.5);
}


.blurb_content {
  margin: 2px 0px;
}

.description {
  margin: 10px 0px 5px 0px;
}

.add_comment {
  display: inline-block;
  float: right;
  margin: 0px auto;
  width: 90%;
}

.save_icon, .comment_icon {
  padding: 0px 5px;
}

.comment_icon {
  display: inline-block;
  float:right;
}

svg.saved_article {
  background-color: blue;
}

.user_interact {
  padding: 8px;
  padding-bottom: 0;
  background-color: rgba(173, 216, 230, 0.5);
}

/***** LOGIN COMPONENT STYLES *****/
.login, .user_details {
  display: inline-block;
  width: 22%;
  max-width: 23%;
  padding: 0% 2%;
  max-height: 100%;
  overflow: hidden;
}

.username, .password {
  display: inline-block;
  padding: 5px;
  width: 85%;
  margin: 5px;
  margin-left: 5%;
  color: rgba(255, 255, 255, 0.9);
  align-content: center;
}

.username {
  margin-bottom: 2px;
  padding-bottom: 0px;
}

.password {
  margin-top: 2px;
  padding-top: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.username_label, .password_label {
  display: inline-block;
  float: left;
  width: fit-content;
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 1%;
}

.username_input, .password_input {
  display: inline-block;
  width: 70%;
  float: right;
  height: 20px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  padding-left: 1%;
}

.username_input:focus, .password_input:focus {
  outline: none;
}

/***** SIGNUP BUTTON STYLES *****/
.signup {
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 5px;
  margin-right: 2%;
  margin-left: 1%;
  width: 20%;
  height: 70px;
}

.signup_blurb {
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.signup_button {
  padding: 5px;
  margin-left: 10px;
  width: fit-content;
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

.signup_button:hover, .signup_button:focus {
  cursor: pointer;
  outline: none;
}


.signup_active, .signup_active:hover, .signup_active:active {
  color: lightskyblue;
  border: 0px solid white;
}

.password_fail {
  border: 1px solid red;
}

/***** SIGNUP BUTTON STYLES *****/
@media screen and (max-width: 1024px) {
  .signup, .login, .signup_form, .user_details {
      display: none !important;
  }

  #feed {
    display: block;
    margin: auto;
  }
}

/***** SIGNUP FORM COMPONENT STYLES *****/
.signup_form {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  float: right;
  width: 22%;
  background-color: black;
  border: 4px solid black;
  border-radius: 10px;
  padding: 5px;
}

.signup_form .username_label, .signup_form .password_label {
  color: white;
}

.signup_form .username, .signup_form .password {
  margin-right: 0;
  padding-right: 0;
  margin-left: 10px;
  width: 90%;
}

.signup_form .username_input, .signup_form .password_input {
  width: 60%;
}

.addAccount {
  margin: 2px;
  margin-top: 5px;
  padding: 2px;
}

.addAccount_button {
  background-color: darkslateblue;
  width: 45%;
  padding: 5px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.addAccount_button:hover {
  border: 1px solid darkslateblue;
  cursor: pointer;
}

/***** USER DETAILS COMPONENT STYLES *****/
.user {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 4px;
  margin-top: 2px;
  padding-top: 2px;
}

.user_interact {
  padding: 5px 8px;
}

.saved_label, .comment_label {
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 10px;
}

.saved_count, .comment_count {
  color: lightblue;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 10px;
}

.user, .saved, .comments {
  margin-left: 150px;
}

.add_comment {
  padding: 4px 0px;
  margin: 4px 0px;
}

.save_icon, .comment_icon {
  padding: 2px;
  margin: 3px;
  background-color: white;
  border-radius: 5px;
}

.save_icon:hover, .comment_icon:hover {
  background-color: rgba(0, 0, 255, 0.2);
  cursor: pointer;
}